.burger {
  --size: 4.5rem;
  height: var(--size);
  width: var(--size);
  padding: 12px 4.5px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  span {
    display: block;
    background-color: #151812;
    width: 3rem;
    height: .3rem;
    transition: width .2s ease;
    &:nth-child(2) {
      width: 100%;
    }
  }
  @include hover {
    span:nth-child(odd) {
      width: 100%;
    }
  }
}
