.btn {
  background-color: transparent;
  border: none;
  padding: 12px 25px;
  color: #000;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  &--fill {
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
