.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-color: transparent;
  transition: z-index .4s ease;
  &__wrapper {
    height: 100%;
    width: 78.125vw;
    max-width: 345px;
    padding: 17.5vh 45px 6.25vh 40px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11;
    transform: translate3d(-345px, 0, 0);
    transition: transform .4s ease;
    @media (max-height: 560px) {
      padding: 14vh 20px 6vh;
    }
    @include mobile {
      padding: 17.5vh 20px 6.25vh;
    }
  }
  &__close {
    height: 4.5rem;
    width: 4.5rem;
    padding: .8rem;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  &__nav{
    width: 100%;
  }
  &__list {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }
  &__item{
    color: #FFF;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 35px;
    position: relative;
    &::before {
      content: '';
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border: 1px solid #000;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
    @include mb(15px);
    @media (max-height: 560px) {
      font-size: 2rem;
      @include mb(5px);
    }
  }
  &__link{
    color: inherit;
    @include hover {
      text-decoration: underline;
    }
  }
  &__socials {
    margin-top: auto;
    @media (max-height: 560px) {
      display: none;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity .4s ease;
  }
  &.active {
    z-index: 10;
    .menu__wrapper {
      transform: translate3d(0, 0, 0);
    }
    .menu__overlay {
      opacity: .75;
      z-index: 9;
    }
  }
}
