.promo {
  position: relative;
  height: 100vh;
  max-height: 1080px;
  padding: 20rem 0 10rem;
  background: #BEDAEF url('../img/main_bg.jpg') no-repeat 60%/cover;
  &__inner {
    max-width: 500px;
    @include mobile {
      max-width: 320px;
    }
  }
  &__title {
    margin-top: 16px;
    @include mobile {
      margin-top: 3px;
    }
  }
  &__links {
    margin-top: 34px;
    @include mobile {
      margin-top: 32px;
    }
  }
  &__link {
    display: inline-block;
    @include mr(2.2rem);
    @include mobile {
      @include mr(1.9rem)
    }
  }
  &__socials {
    display: none;
    position: absolute;
    top: 50%;
    left: 5rem;
    z-index: 1;
    transform-origin: top left;
    transform: rotate(-90deg) translate3d(-50%, 0, 0);
    @media all and (min-width: 1440px) {
      display: flex;
    }
  }
}
