.used {
  padding: 60px 0;
  @include small-tablet {
    padding: 0;
  }
  &__grid {
    padding: 60px 10.5px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(2, minmax(270px, auto));
    grid-auto-rows: minmax(270px, auto);
    gap: 13px;
    padding: 60px 0 0;
    @include mobile {
      padding-top: 20px;
    }
  }
  &__item {
    padding: 30px 30px 25px;
    border: 1px solid #000;
  }
  &__img {
    height: 65px;
    display: flex;
    align-items: center;
    img {
      display: block;
      max-height: 100%;
    }
  }
  &__title {
    margin-top: 20px;
  }
  &__description {
    margin: 15px 0 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.progress {
  &__grid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(70px, auto));
    grid-auto-rows: minmax(70px, auto);
    gap: 30px 45px;
    @include small-tablet {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;

    }
    @include mobile {
      margin-top: 40px;
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & > * {
      flex: 1 1 50%;
      line-height: 3.6rem;
    }
  }
  &__title {
    flex-basis: 80%;
  }
  &__data {
    flex-basis: 20%;
    text-align: right;
    @include mobile {
      font-size: 14px;
    }
  }
  &__bar {
    margin-top: auto;
    width: 100%;
    height: 14px;
    background-color: #E8E4DE;
    border-radius: 4px;
    overflow: hidden;
    span {
      display: block;
      height: 100%;
      width: 0%;
      background-color: var(--main-color);
    }
  }
}
