@mixin circle-left {
  position: relative;
  z-index: 1;
  &::before {
    --size: 3.6rem;
    content: '';
    display: block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: -1.2rem;
    top: -.7rem;
    z-index: -1;
    background: #FFA501;
    border-radius: 50%;
  }
}
