<section class="about">
  <div class="container about__container">
    <img src="img/main_photo.jpg" alt="Photo" class="about__photo">
    <div class="about__content">
      <div class="about__description">
        <h2 class="title title--fs16 title--w-circle">Про меня</h2>
        <div class="title title--fs36 title--underline about__title">Меня зовут Саша</div>
        <p class="about__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
      <div class="about__skill">
        <div class="about__skill-img">
          <img src="img/about_me/web_development.svg" alt="Web-разработка" class="about__skills-img">
        </div>
        <div>
          <h3 class="title title--fs14 about__skill-title">Web-разработка</h3>
          <p class="about__skill-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

      <div class="about__skill">
        <div class="about__skill-img">
          <img src="img/about_me/mobile_dev.svg" alt="Мобильная разработка">
        </div>
        <div>
          <h3 class="title title--fs14 about__skill-title">Разработка приложений</h3>
          <p class="about__skill-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

      <div class="about__skill">
        <div class="about__skill-img">
          <img src="img/about_me/design.svg" alt="Дизайн">
        </div>
        <div>
          <h3 class="title title--fs14 about__skill-title">UI/UX Design</h3>
          <p class="about__skill-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</section>
