<section class="contacts">
  <div class="container">
    <div class="contacts__grid">
      <div class="contacts__photo">
        <img src="img/main_photo.jpg" alt="Photo">
      </div>

      <div class="contacts__content">
        <h2 class="title title--fs16 title--w-circle">Контакты</h2>
        <div class="title title--fs36 title--underline about__title">Свяжитесь со мной</div>
        <div class="title title--fs14 contacts__txt">Любым удобным для вас способом:</div>

        <div class="contacts__socials">
          @include('social__list.html')
        </div>
        <div class="title title--fs14 contacts__txt">Или оставьте ваши данные и я сама вам напишу:</div>
        <form action="#" class="contacts__form">
          <div class="contacts__input">
            <input id="name" name="name" type="text">
            <label for="name">Ваше имя</label>
          </div>
          <div class="contacts__input">
            <input id="email" name="email" type="email">
            <label for="email">Ваша почта</label>
          </div>
          <div class="contacts__input contacts__input-textarea">
            <textarea id="message" name="message"></textarea>
            <label for="message">Ваше сообщение</label>
          </div>
          <div>
            <button class="btn btn--fill">Отправить сообщение</button>
          </div>
        </form>
      </div>
  </div>
</section>
