<section class="portfolio">
  <div class="container">
    <h2 class="title title--fs16 title--center-w-circle">Портфолио</h2>
    <div class="title title--fs36 title--center title--underline-center">Мои работы</div>

    <div class="portfolio__list">
      <a class="portfolio__item" href="#">
        <img src="img/works/uber.jpg" alt="Uber" class="portfolio__img">
      </a>
      <a class="portfolio__item" href="#">
        <img src="img/works/pulse.jpg" alt="Pulse" class="portfolio__img">
      </a>
      <a class="portfolio__item" href="#">
        <img src="img/works/bread.jpg" alt="Bread" class="portfolio__img">
      </a>
      <a class="portfolio__item vertical" href="#">
        <img src="img/works/plans.jpg" alt="Plans" class="portfolio__img">
      </a>
      <a class="portfolio__item" href="#">
        <img src="img/works/ipad.jpg" alt="iPad" class="portfolio__img">
      </a>
      <a class="portfolio__item horizontal" href="#">
        <img src="img/works/mac.jpg" alt="Mac" class="portfolio__img">
      </a>
    </div>

  </div>
</section>
