<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="title title--fs16 title--center-w-circle">Портфолио</h2>
    <div class="title title--fs36 title--center title--underline-center">Мои работы</div>

    <div class="portfolio__list">
      <a class="portfolio__item" href="#">
        <picture>
          <source srcset="img/works/uber.avif" type="image/avif">
          <source srcset="img/works/uber.webp" type="image/webp">
          <img loading="lazy" src="img/works/uber.jpg" class="portfolio__img" alt="Uber">
        </picture>
      </a>
      <a class="portfolio__item" href="#">
        <picture>
          <source srcset="img/works/pulse.avif" type="image/avif">
          <source srcset="img/works/pulse.webp" type="image/webp">
          <img loading="lazy" src="img/works/pulse.jpg" class="portfolio__img" alt="Pulse">
        </picture>
      </a>
      <a class="portfolio__item" href="#">
        <picture>
          <source srcset="img/works/bread.avif" type="image/avif">
          <source srcset="img/works/bread.webp" type="image/webp">
          <img loading="lazy" src="img/works/bread.jpg" class="portfolio__img" alt="Bread">
        </picture>
      </a>
      <a class="portfolio__item vertical" href="#">
        <picture>
          <source srcset="img/works/plans.avif" type="image/avif">
          <source srcset="img/works/plans.webp" type="image/webp">
          <img loading="lazy" src="img/works/plans.jpg" class="portfolio__img" alt="Plans">
        </picture>
      </a>
      <a class="portfolio__item" href="#">
        <picture>
          <source srcset="img/works/ipad.avif" type="image/avif">
          <source srcset="img/works/ipad.webp" type="image/webp">
          <img loading="lazy" src="img/works/ipad.jpg" class="portfolio__img" alt="iPad">
        </picture>
      </a>
      <a class="portfolio__item horizontal" href="#">
        <picture>
          <source srcset="img/works/mac.avif" type="image/avif">
          <source srcset="img/works/mac.webp" type="image/webp">
          <img loading="lazy" src="img/works/mac.jpg" class="portfolio__img" alt="Mac">
        </picture>
      </a>
    </div>

  </div>
</section>
