<section class="price">
  <div class="container">
    <h2 class="title title--fs16 title--center-w-circle title--underline-center">Прайс-лист</h2>

    <ul class="price__list">
      <li class="price__item">
        <h4 class="title title--fs14 price__title">Landing-page</h4>
        <div class="price__cost">от 8000 руб.</div>
        <p class="price__description">Одностраничный сайт для презентации услуг/товаров/...</p>
      </li>

      <li class="price__item">
        <h4 class="title title--fs14 price__title">Web-приложение</h4>
        <div class="price__cost">от 28000 руб.</div>
        <p class="price__description">Приложение внутри браузера для лучшего комфорта</p>
      </li>

      <li class="price__item">
        <h4 class="title title--fs14 price__title">Корпоративный сайт</h4>
        <div class="price__cost">от 20000 руб.</div>
        <p class="price__description">Сайт для вашего бизнеса или компании</p>
      </li>

      <li class="price__item">
        <h4 class="title title--fs14 price__title">Android/IOS Приложение</h4>
        <div class="price__cost">от 25000 руб.</div>
        <p class="price__description">Приложение для смартфона любой ОС</p>
      </li>

      <li class="price__item">
        <h4 class="title title--fs14 price__title">Интернет-магазин</h4>
        <div class="price__cost">от 30000 руб.</div>
        <p class="price__description">Инструмент для ваших продаж в сети</p>
      </li>

      <li class="price__item">
        <h4 class="title title--fs14 price__title">Дизайн</h4>
        <div class="price__cost">Индивидуально</div>
        <p class="price__description">Создам дизайн для вашего сайта/приложения...</p>
      </li>
    </ul>

  </div>
</section>
