<section class="promo">
  <button class="burger" aria-label="Открыть меню">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="container">
    <div class="promo__inner">
      <h2 class="title title--fs16 title--w-circle">Меня зовут Саша</h2>
      <h1 class="title title--fs48 promo__title">Я web-разработчик из города Киев</h1>
      <div class="promo__links">
        <a href="#portfolio" class="promo__link btn btn--fill">Портфолио</a>
        <a href="#about" class="promo__link btn">Про меня</a>
      </div>
    </div>
    <div class="socials promo__socials">
      <h5 class="socials__title">Социальные сети</h5>
      @include('social__list.html')
    </div>
  </div>
</section>
