<section class="resume">
  <div class="container">
    <h2 class="title title--fs16 title--center-w-circle">Опыт</h2>
    <div class="title title--fs36 title--center title--underline-center">Чем я буду полезна</div>
    <div class="resume__wrapper">

      <div class="resume__column">
        <h3 class="resume__list-title">Образование</h3>
        <ul class="resume__list">
          <li class="resume__list-item">
            <div class="resume__card-grid">
              <div class="resume__card-icon">
                <img src="img/experience/university.svg" alt="University">
              </div>
              <div class="resume__card-header">
                <h4 class="resume__card-title">МГТУ им. Н. Э. Баумана</h4>
                <div class="resume__card-subtitle">Диплом магистра | Москва (2014-2020)</div>
              </div>
              <p class="resume__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
            </div>
          </li>

          <li class="resume__list-item">
            <div class="resume__card-grid">
              <div class="resume__card-icon">
                <img src="img/experience/courses.svg" alt="Courses">
              </div>
              <div class="resume__card-header">
                <h4 class="resume__card-title">Udemy</h4>
                <div class="resume__card-subtitle">Курсы по Web-разработке</div>
              </div>
              <p class="resume__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
            </div>
          </li>
        </ul>
      </div>


      <div class="resume__column">
        <h3 class="resume__list-title">Опыт работы</h3>
        <ul class="resume__list">
          <li class="resume__list-item">
            <div class="resume__card-grid">
              <div class="resume__card-icon">
                <img src="img/experience/developer.svg" alt="Developer">
              </div>
              <div class="resume__card-header">
                <h4 class="resume__card-title">Front-End Developer</h4>
                <div class="resume__card-subtitle">EPAM | Москва (2018-2019)</div>
              </div>
              <p class="resume__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
            </div>
          </li>

          <li class="resume__list-item">
            <div class="resume__card-grid">
              <div class="resume__card-icon">
                <img src="img/experience/designer.svg" alt="Designer">
              </div>
              <div class="resume__card-header">
                <h4 class="resume__card-title">UI/UX Designer</h4>
                <div class="resume__card-subtitle">Squad Team | Москва (2018)</div>
              </div>
              <p class="resume__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
