<section class="used" id="used">
  <div class="container">
    <h2 class="title title--fs16 title--center-w-circle">Навыки</h2>
    <div class="title title--fs36 title--center title--underline-center">Что я использую в работе</div>
    <div class="used__grid">

      <div class="used__item">
        <div class="used__img">
          <img src="img/used/html5.svg" alt="HTML5">
        </div>
        <h3 class="title title--fs14 used__title">HTML5</h3>
        <p class="used__description">Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/css3.svg" alt="CSS3">
        </div>
        <h3 class="title title--fs14 used__title">CSS3</h3>
        <p class="used__description">Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/js.svg" alt="JS">
        </div>
        <h3 class="title title--fs14 used__title">Java Script</h3>
        <p class="used__description">Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/jquery.svg" alt="Jquery">
        </div>
        <h3 class="title title--fs14 used__title">Jquery</h3>
        <p class="used__description">Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/react.svg" alt="React">
        </div>
        <h3 class="title title--fs14 used__title">React</h3>
        <p class="used__description">Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/node.js.svg" alt="Node.js">
        </div>
        <h3 class="title title--fs14 used__title">Node.js</h3>
        <p class="used__description">Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит</p>
      </div>

      <div class="used__item">
        <div class="used__img">
          <img loading="lazy" src="img/used/mongo.db.svg" alt="Mongo.db">
        </div>
        <h3 class="title title--fs14 used__title">Mongo.db</h3>
        <p class="used__description">Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения</p>
      </div>

    </div>

    <div class="progress__grid">
      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Создание сайтов</h3>
        <div class="progress__data">100%</div>
        <div class="progress__bar"><span></span></div>
      </div>

      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Создание приложений</h3>
        <div class="progress__data">85%</div>
        <div class="progress__bar"><span></span></div>
      </div>

      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Работа с данными</h3>
        <div class="progress__data">90%</div>
        <div class="progress__bar"><span></span></div>
      </div>

      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Креативность</h3>
        <div class="progress__data">75%</div>
        <div class="progress__bar"><span></span></div>
      </div>

      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Создание дизайна</h3>
        <div class="progress__data">90%</div>
        <div class="progress__bar"><span></span></div>
      </div>

      <div class="progress__item">
        <h3 class="title title--fs14 title--w-circle progress__title">Soft skills</h3>
        <div class="progress__data">95%</div>
        <div class="progress__bar"><span></span></div>
      </div>

    </div>
  </div>
</section>
