// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Poppins', sans-serif;
  --rem: 10px;
  --content-width: 1140px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
